### Add A New Column

We can insert a column to an already created DataFrame by following two method:

#### 1. Add a new column using the <b>insert</b> method(set th location)

In [3]:
import pandas as pd

df = pd.DataFrame(pd.read_csv("/home/prabin/Desktop/python/Pandas/_pandas/Earthquake_Perception_Dataset.csv"))
df

,age,sex,marital_status,residence,education,occupation,out_of_region_employment,family_members,family_disabilities,house_floor,...,INGV_trust,security,reception_centers,property_house,housing_type,elevator,n_vehicles,vehicle_type,end_of_month,salary
0,21.0,Male,Unmarried,Napoli,Upper Secondary School,Student,No,4,No,1,...,4,2,No,Yes,Apartment,Yes,0,NaN,1,Up to €15000
1,21.0,Female,Unmarried,Napoli,Upper Secondary School,Student,No,5,No,4,...,3,1,No,Yes,Other,Yes,5,Car and Motorcycle,1,Between €28000 and €50000
2,21.0,Female,Unmarried,Napoli,Upper Secondary School,Student Worker,No,5,No,4,...,5,3,Yes,Yes,Apartment,Yes,0,NaN,1,Between €15000 and €28000
3,23.0,Male,Unmarried,Quarto,Upper Secondary School,Student,No,5,No,2,...,1,1,No,No,Apartment,No,2,Car,5,Up to €15000
4,64.0,Female,Unmarried,Somma Vesuviana,Degree,Retired,No,1,No,2,...,4,2,No,No,Apartment,Yes,0,NaN,3,Between €15000 and €28000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467,25.0,Male,Unmarried,Caserta,Degree,Student,No,Over 5,No,0 (Ground Floor),...,3,3,No,Yes,Apartment,Yes,3,Car,3,NaN
468,NaN,Female,Unmarried,Cercola,Lower Secondary School,Student,No,3,No,1,...,3,2,No,Yes,Apartment,Yes,1,Car,3,NaN
469,45.0,Female,Unmarried,Pozzuoli,Degree,Employee,No,1,No,Over 5,...,3,3,Yes,Yes,Apartment,Yes,1,Car,1,NaN
470,44.0,Female,Cohabiting,Pozzuoli,Postgraduate Degree,Self-Employed,No,4,No,3,...,4,2,Yes,No,Apartment,No,2,Car,2,Between €28000 and €50000
471,32.0,Female,Married,Gualtieri,Degree,Employee,Yes,4,No,0 (Ground Floor),...,5,5,Yes,Yes,Villa/Small Villa,No,2,Car,2,NaN

In [6]:
df.insert(loc=2, column="added",value=[19,20,4,25])#upto 472 term is required

df

ValueError: Length of values (4) does not match length of index (472)

#### 2. Assign a new column using the <b>assign</b> method (place at the end)

In [7]:
df.assign(Roll = [2,1,4,3,5,7]) #upto 472 terms

df

ValueError: Length of values (6) does not match length of index (472)